{% extends "base.html" %}

{% block content %}

<ul class="nhsuk-grid-row nhsuk-card-group">
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/admin_view_users">View all users</a>
          </h2>
          <p class="nhsuk-card__description">A list of all the users that are registered on the site</p>
        </div>
      </div>
  
    </li>
    <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
  
      <div class="nhsuk-card nhsuk-card--clickable">
        <div class="nhsuk-card__content">
          <h2 class="nhsuk-card__heading nhsuk-heading-m">
            <a class="nhsuk-card__link" href="/admin_view_ticket">View all tickets</a>
          </h2>
          <p class="nhsuk-card__description">A list of all the tickets created on the site</p>
        </div>
      </div>
  
    </li>

{% endblock %}