{% extends "base.html" %}

{% block content %}

<h1>All user tickets</h1>

<table class="nhsuk-table">
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          Title
        </th>
        <th role="columnheader" class="" scope="col">
          Description
        </th>
        <th role="columnheader" class="" scope="col">
          Area of Business
        </th>
        <th role="columnheader" class="" scope="col">
          Date
        </th>
        <th role="columnheader" class="" scope="col">
          Complete
        </th>
        <th role="columnheader" class="" scope="col">
          Delete
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    {% for ticket in tickets %}
      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">{{ ticket.title }}</td>
        <td class="nhsuk-table__cell">{{ ticket.description }}</td>
        <td class="nhsuk-table__cell">{{ ticket.area_of_business }}</td>
        <td class="nhsuk-table__cell">{{ ticket.date }}</td>
        <td class="nhsuk-table__cell "><a class="nhsuk-button nhsuk-button" href="">Complete</a></td>
        <td class="nhsuk-table__cell "><a class="nhsuk-button nhsuk-button--secondary" href="">Delete</a></td>
      </tr>
    {% endfor %}
    </tbody>
  </table>

{% endblock %}