{% extends "base.html" %}

{% block content %}
<h1>All Users</h1>

<table class="nhsuk-table">
    <thead role="rowgroup" class="nhsuk-table__head">
      <tr role="row">
        <th role="columnheader" class="" scope="col">
          ID
        </th>
        <th role="columnheader" class="" scope="col">
          Email
        </th>
        <th role="columnheader" class="" scope="col">
          First Name
        </th>
        <th role="columnheader" class="" scope="col">
          Last Name
        </th>
        <th role="columnheader" class="" scope="col">
          Controls
        </th>
      </tr>
    </thead>
    <tbody class="nhsuk-table__body">
    {% for user in users %}
    {% if user.id != current_user.id %}
      <tr role="row" class="nhsuk-table__row">
        <td class="nhsuk-table__cell">{{ user.id }}</td>
        <td class="nhsuk-table__cell">{{ user.email }}</td>
        <td class="nhsuk-table__cell">{{ user.first_name }}</td>
        <td class="nhsuk-table__cell">{{ user.last_name }}</td>
        <td class="nhsuk-table__cell "><a class="nhsuk-button nhsuk-button--secondary" href="">Delete</a></td>
      </tr>
      {% endif %}
    {% endfor %}
    </tbody>
  </table>

{% endblock %}